{{!< default}}
<main class="content content-roll container">
    <div class="columns is-flex is-flex-wrap-wrap">
        <section id="latest-post" class="column is-full">
            {{> post_loop}}
        </section>
    </div>
</main>